In [1]:
import pandas as pd

#Handling implicit and explicit indicies

a = pd.Series(['a','b','c'], index=[1,3,5])
a[1] #explicit

'a'

In [2]:
a[1:3] #implicit

3    b
5    c
dtype: object

In [3]:
#We may get confused which to use
# loc(used for explicit indicies)
# iloc(used for implicit indicies)

In [4]:
a.iloc[1:3]

3    b
5    c
dtype: object

In [5]:
a.loc[1:3]

1    a
3    b
dtype: object

In [6]:
grad_dict = {'A':9, 'B':8, 'C':7, 'D':6}
grad = pd.Series(grad_dict, dtype='float64')
marks_dict = {'A':90, 'B':80, 'C':70, 'D':60}
marks = pd.Series(marks_dict, dtype = 'float64')
d = pd.DataFrame({'Marks':marks, 'Grade':grad})

d

   Marks  Grade
A   90.0    9.0
B   80.0    8.0
C   70.0    7.0
D   60.0    6.0

In [7]:
d.iloc[2, :]

Marks    70.0
Grade     7.0
Name: C, dtype: float64

In [8]:
#reversing all the rows
d.iloc[::-1,:]

   Marks  Grade
D   60.0    6.0
C   70.0    7.0
B   80.0    8.0
A   90.0    9.0